# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Tests & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local configuration
.env

# Allowing specific JSON files for ingestion
# Since the build context is ./backend, the path is scripts/...
!scripts/fda_data.json
!requirements.txt

# IDEs
.vscode/
.idea/

# Large files
*.log
*.sqlite3
